th, td {
  border: 1px solid black;
  padding: 8px;
}

.quote-list tr:first-child {
  background-color: #d6d6d6; /* header color */
}

.quote-list table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
}

